#include "main.h"
#include "raceup_fdcan.h"

void SystemClock_Config(void)
{
  RCC_OscInitTypeDef RCC_OscInitStruct = {0};
  RCC_ClkInitTypeDef RCC_ClkInitStruct = {0};

  __HAL_PWR_VOLTAGESCALING_CONFIG(PWR_REGULATOR_VOLTAGE_SCALE0);

  while(!__HAL_PWR_GET_FLAG(PWR_FLAG_VOSRDY)) {}

  RCC_OscInitStruct.OscillatorType = RCC_OSCILLATORTYPE_HSI | RCC_OSCILLATORTYPE_HSE;
  RCC_OscInitStruct.HSEState = RCC_HSE_ON;
  RCC_OscInitStruct.HSIState = RCC_HSI_ON;
  RCC_OscInitStruct.HSIDiv = RCC_HSI_DIV1;
  RCC_OscInitStruct.HSICalibrationValue = RCC_HSICALIBRATION_DEFAULT;

  // PLL1
  RCC_OscInitStruct.PLL.PLLState = RCC_PLL_ON;
  RCC_OscInitStruct.PLL.PLLSource = RCC_PLL1_SOURCE_HSI;
  RCC_OscInitStruct.PLL.PLLM = 16;
  RCC_OscInitStruct.PLL.PLLN = 125;
  RCC_OscInitStruct.PLL.PLLP = 2;
  RCC_OscInitStruct.PLL.PLLQ = 2;
  RCC_OscInitStruct.PLL.PLLR = 2;
  RCC_OscInitStruct.PLL.PLLRGE = RCC_PLL1_VCIRANGE_2;
  RCC_OscInitStruct.PLL.PLLVCOSEL = RCC_PLL1_VCORANGE_WIDE;
  RCC_OscInitStruct.PLL.PLLFRACN = 0;
  if (HAL_RCC_OscConfig(&RCC_OscInitStruct) != HAL_OK)
  {
    Error_Handler();
  }

  /** Initializes the CPU, AHB and APB buses clocks */
  RCC_ClkInitStruct.ClockType = RCC_CLOCKTYPE_HCLK|RCC_CLOCKTYPE_SYSCLK
                              |RCC_CLOCKTYPE_PCLK1|RCC_CLOCKTYPE_PCLK2
                              |RCC_CLOCKTYPE_PCLK3;
  RCC_ClkInitStruct.SYSCLKSource = RCC_SYSCLKSOURCE_PLLCLK;
  RCC_ClkInitStruct.AHBCLKDivider = RCC_SYSCLK_DIV1;
  RCC_ClkInitStruct.APB1CLKDivider = RCC_HCLK_DIV1;
  RCC_ClkInitStruct.APB2CLKDivider = RCC_HCLK_DIV1;
  RCC_ClkInitStruct.APB3CLKDivider = RCC_HCLK_DIV1;

  if (HAL_RCC_ClockConfig(&RCC_ClkInitStruct, FLASH_LATENCY_5) != HAL_OK)
  {
    Error_Handler();
  }

  {% if modules.fdcan.enable %}
  RCC_PeriphCLKInitTypeDef PeriphClkInitStruct = {0};
  PeriphClkInitStruct.PeriphClockSelection = RCC_PERIPHCLK_FDCAN;
  PeriphClkInitStruct.FdcanClockSelection = RCC_FDCANCLKSOURCE_PLL2Q;
  PeriphClkInitStruct.PLL2.PLL2Source = RCC_PLL2_SOURCE_HSE; 
  PeriphClkInitStruct.PLL2.PLL2M = 2;
  PeriphClkInitStruct.PLL2.PLL2N = 10;
  PeriphClkInitStruct.PLL2.PLL2P = 2;
  PeriphClkInitStruct.PLL2.PLL2Q = 3;
  PeriphClkInitStruct.PLL2.PLL2R = 2;

  PeriphClkInitStruct.PLL2.PLL2RGE = RCC_PLL2_VCIRANGE_3;
  PeriphClkInitStruct.PLL2.PLL2VCOSEL = RCC_PLL2_VCORANGE_MEDIUM;
  PeriphClkInitStruct.PLL2.PLL2FRACN = 0;
  PeriphClkInitStruct.PLL2.PLL2ClockOut = RCC_PLL2_DIVQ;

  if (HAL_RCCEx_PeriphCLKConfig(&PeriphClkInitStruct) != HAL_OK) {
    Error_Handler();
  }
  {% endif %}
  
  __HAL_FLASH_SET_PROGRAM_DELAY(FLASH_PROGRAMMING_DELAY_2);
}

void config_FDCAN(void) {
{% if modules.fdcan.enable %}
  GPIO_InitTypeDef GPIO_InitStruct = {0};

  /* Enable global FDCAN clock */
  __HAL_RCC_FDCAN_CLK_ENABLE();

  /* Loop through all FDCAN instances (e.g., fdcan1, fdcan2) defined in YAML */
  {% for inst_name, inst in modules.fdcan.instances.items() if inst.enable %}
  {% set inst_upper = inst_name | upper %}

  /* ==============================================================================
   * {{ inst_upper }} Hardware Setup (GPIO & NVIC)
   * ============================================================================== */

  /* Enable GPIO Bank Clocks */
  __HAL_RCC_GPIO{{inst.pins.rx | pinbank}}_CLK_ENABLE();
  __HAL_RCC_GPIO{{inst.pins.tx | pinbank}}_CLK_ENABLE(); // Enable Tx bank just in case
  
  /* Configure Rx and Tx pins */
  GPIO_InitStruct.Pin = GPIO_PIN_{{ inst.pins.rx | pinno }} | GPIO_PIN_{{ inst.pins.tx | pinno }};
  GPIO_InitStruct.Mode = GPIO_MODE_AF_PP;
  GPIO_InitStruct.Pull = GPIO_NOPULL;
  GPIO_InitStruct.Speed = GPIO_SPEED_FREQ_VERY_HIGH;
  GPIO_InitStruct.Alternate = GPIO_AF9_{{ inst_upper }};
  
  // Assumes Rx and Tx are on the same GPIO bank for this implementation
  HAL_GPIO_Init(GPIO{{inst.pins.rx | pinbank}}, &GPIO_InitStruct);

  /* Configure Interrupts (NVIC) */
  {% if inst.interrupts.it0 is defined %}
  HAL_NVIC_SetPriority({{ inst_upper }}_IT0_IRQn, {{inst.interrupts.it0.priority}}, {{inst.interrupts.it0.subpriority}}); // Rx Interrupts
  HAL_NVIC_EnableIRQ({{ inst_upper }}_IT0_IRQn);
  {% endif %}

  {% if inst.interrupts.it1 is defined %}
  HAL_NVIC_SetPriority({{ inst_upper }}_IT1_IRQn, {{inst.interrupts.it1.priority}}, {{inst.interrupts.it1.subpriority}}); // Error Interrupts
  HAL_NVIC_EnableIRQ({{ inst_upper }}_IT1_IRQn);
  {% endif %}

  /* ==============================================================================
   * {{ inst_upper }} Peripheral Configuration 
   * {% if inst.speed is defined %}Speed: {{ inst.speed }} bps{% endif %}
   * ============================================================================== */

  /* 1. Bit Timings (Calculated by clock_prescaler.py or fixed for now) */
  RUP_FDCAN_BitTimingTypeDef timing_{{ inst_name }} = {
    .presc = 2,
    .ts1   = 8,
    .ts2   = 1,
    .sjw   = 1  /* Recommended default SJW */
  };

  /* 2. Global Filter Configuration */
  {% set global_action = 'RUP_FDCAN_REJECT' %}
  {% for f in inst.filters if f.type == 'global' %}
    {% if f.action == 'fifo0' %}{% set global_action = 'RUP_FDCAN_ACCEPT_IN_RX_FIFO0' %}{% endif %}
    {% if f.action == 'fifo1' %}{% set global_action = 'RUP_FDCAN_ACCEPT_IN_RX_FIFO1' %}{% endif %}
    {% if f.action == 'reject' %}{% set global_action = 'RUP_FDCAN_REJECT' %}{% endif %}
  {% endfor %}

  /* 3. RX Interrupt Mode Configuration */
  {% set it_mode = 'RUP_FDCAN_IT_NONE' %}
  {% if inst.fifo_rx is defined %}
    {% if inst.fifo_rx == 'fifo0' %}
      {% set it_mode = 'RUP_FDCAN_IT_RX_FIFO0' %}
    {% elif inst.fifo_rx == 'fifo1' %}
      {% set it_mode = 'RUP_FDCAN_IT_RX_FIFO1' %}
    {% elif inst.fifo_rx == 'fifo0,fifo1' or inst.fifo_rx == 'all' %}
      {% set it_mode = 'RUP_FDCAN_IT_ALL' %}
    {% endif %}
  {% endif %}

  /* 4. Peripheral Initialization */
  RUP_FDCAN_Init({{ inst_upper }}, timing_{{ inst_name }}, {{ global_action }}, {{ it_mode }});

  /* 5. Reception Filters */
  {% for f in inst.filters if f.type != 'global' %}
    {% set f_type = 'RUP_FDCAN_FILTER_' ~ f.type | upper %}
    
    {% set f_action = 'RUP_FDCAN_FILTER_TO_RXFIFO0' %}
    {% if f.action == 'fifo1' %}{% set f_action = 'RUP_FDCAN_FILTER_TO_RXFIFO1' %}{% endif %}
    {% if f.action == 'reject' %}{% set f_action = 'RUP_FDCAN_FILTER_REJECT' %}{% endif %}
    {% if f.action == 'fifo0_hp' %}{% set f_action = 'RUP_FDCAN_FILTER_RXFIFO0_HP' %}{% endif %}
    {% if f.action == 'fifo1_hp' %}{% set f_action = 'RUP_FDCAN_FILTER_RXFIFO1_HP' %}{% endif %}
    
  RUP_FDCAN_AddFilter({{ inst_upper }}, {{ f_type }}, {{ f_action }}, {{ "0x%X" | format(f.id1) }}, {{ "0x%X" | format(f.id2) }});
  {% endfor %}

  /* 6. Start Peripheral */
  RUP_FDCAN_Start({{ inst_upper }});

  {% endfor %}

{% endif %}
}

void config_GPIO(void) {
{% if modules.gpio %}

  {% for gpio in modules.gpio %}
  GPIO_InitTypeDef GPIO_InitStruct_{{gpio.pin | upper}} = {0};
  __HAL_RCC_GPIO{{gpio.pin | pinbank}}_CLK_ENABLE();
  GPIO_InitStruct_{{gpio.pin | upper}}.Pin = GPIO_PIN_{{ gpio.pin | pinno }};
  GPIO_InitStruct_{{gpio.pin | upper}}.Mode = GPIO_MODE_{{gpio.mode | upper}};
  GPIO_InitStruct_{{gpio.pin | upper}}.Pull = GPIO_{{gpio.pull | upper}};
  GPIO_InitStruct_{{gpio.pin | upper}}.Speed = GPIO_SPEED_FREQ_{{gpio.speed | upper}};
  HAL_GPIO_Init(GPIO{{gpio.pin | pinbank}}, &GPIO_InitStruct_{{gpio.pin | upper}});

  {% endfor %}
{% endif %}
}
